extends ../layout.pug
include ../mixins/admin-page/settings/index.pug
include ../mixins/admin-page/coach-assignment-modal/index.pug

block content
  .admin-page
    .admin-page__heading
      | Coach-Queue Admin
    .admin-page__buttons
      button(onclick='navigateToRoute("assign-coaches")').admin-page__buttons__assign-coaches
        | Assign Coaches
    +settings

    if page_data.showing_modal
      +coach-assignment-modal(page_data.coaches, page_data.projects, page_data.active_coach_data)

    script(src='/javascripts/admin-page/navigateToRoute.js')
