extends ../layout.pug

block content
  form( encType='multipart/form-data', method='post', action='/admin/upload' )
    label Enter file path or url
    input( type='file', name='teams' )
    input( type='submit', value='Upload' )