extends ../layout.pug

block content
  table.table.table-striped.table-bordered
    thead
      tr
        th Coach
        th Past Threshold
        th Queue
    tbody

block scripts
  script( src='/javascripts/admin/summary.js' )