mixin boundary-conditions
  .admin-page__settings__content__boundary-conditions
    .admin-page__settings__content__boundary-conditions__heading
      | Boundary Conditions
    form.admin-page__settings__content__boundary-conditions__form
        label
          | Age Threshold
        input(type="text" placeholder="0")
        label
          | Escalation Count Threshold
        input(type="text" placeholder="0")
        button(type="submit")
          | Submit
