mixin upload-csv-data
  .admin-page__settings__content__upload-csv-data
    .admin-page__settings__content__upload-csv-data__heading
      | Upload Cycle Data (csv)
    form.admin-page__settings__content__upload-csv-data__form
        label
          | Enter file path or url
        input(type="text" placeholder="/filepath")
        input(type="submit" value="Upload")
