mixin coach(handle)
  .coach-assignment-modal__active-coaches__coach
    label.coach-assignment-modal__active-coaches__coach__handle= handle
    input(type="checkbox").coach-assignment-modal__active-coaches__coach__checkbox
