mixin team(coach_data, team_name)
  .coach-assignment-modal__coach-assignments__team-list__team
    label.coach-assignment-modal__coach-assignments__team-list__team__label= team_name
    select.coach-assignment-modal__coach-assignments__team-list__team__coach-assignment
      each coach in coach_data
        option= coach.coach
