extends layout.pug
include ./mixins/coach-assignment-modal

block content
  .admin-page
    +coach-assignment-modal
  

    form(action="/import-csv", enctype="multipart/form-data", name="add-csv", method="post")
      div.input
        span.label
        input(type="file", name="csv", placeholder="csv")
      div.actions
        input(type="submit", name="upload", value="add")  
