extends layout.pug
include ./mixins/admin-page/coach-assignment-modal/index.pug

block content
  -var showing_modal= true
  .admin-page
    .admin-page__heading
    .admin-page__buttons
      button.admin-page__buttons__coach-assignment-modal
        | Assign Coaches
      button.admin-page__buttons__upload-csv-modal
        | Upload Cycle Data (csv)
      button.admin-page__buttons__boundary-conditions-modal
        | Set Boundary Conditions

    if showing_modal
      +coach-assignment-modal(coaches, teams, active_coach_data)

    form(action="/import-csv", enctype="multipart/form-data", name="add-csv", method="post")
      div.input
        span.label
        input(type="file", name="csv", placeholder="csv")
      div.actions
        input(type="submit", name="upload", value="add")
