@import "partials/_manifest.sass"

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

button
  width: 166px
  height: 33px
  margin: 3px
  border: none

.admin-page
  width: 100%
  display: flex
  justify-content: center
