mixin coach-assignment-modal
  .coach-assignment-modal
    .coach-assignment-modal__shroud  
    .coach-assignment-modal__content
      .coach-assignment-modal__heading
        | Coach Assignments
      .coach-assignment-modal__active-coaches
        form.coach-assignment-modal__active-coaches__form
          .coach-assignment-modal__active-coaches__coach 
            label.coach-assignment-modal__active-coaches__coach__handle
              | Coach Handle
            input(type="checkbox").coach-assignment-modal__active-coaches__coach__checkbox                       
        .coach-assignment-modal__active-coaches__controls
          button.set-coaches set coaches
          button.clear-coaches clear coaches
      .coach-assignment-modal__coach-assignments
        form.coach-assignment-modal__coach-assignments__form
          .coach-assignment-modal__coach-assignments__team-list
            .coach-assignment-modal__coach-assignments__team-list__team
              label.coach-assignment-modal__coach-assignments__team-list__team__label
                | Team Name
              select.coach-assignment-modal__coach-assignments__team-list__team__coach-assignment
                option Coachlkglskgopks;lgks;lkg;lskg;lksl;gksd;lkg;lskg;lksd;glks;lgk;lskg;lks;glk;lgsk;lgks;lkg;ls
            .coach-assignment-modal__coach-assignments__team-list__team
              label.coach-assignment-modal__coach-assignments__team-list__team__label
                | Team Namegk;lgdksh;lk;lhksd;lkh;lskh;lks;lhks;lkh;lsdkh;lkg;lhk;lsfkh;lks;hlkld;skh;lksd;lhk;lk
              select.coach-assignment-modal__coach-assignments__team-list__team__coach-assignment
                option Coach
          .coach-assignment-modal__coach-assignments__coach-table
            .coach-assignment-modal__coach-assignments__coach-table__content
              .coach-assignment-modal__coach-assignments__coach-table__table
              .coach-assignment-modal__coach-assignments__coach-table__controls
                button.calculate calculate
                button.submit submit
