extends ../layout

block content
  h1 Learner Landing
  div= request
  if request
    .request
      span= request.events
      button Cancel
  else
    form.request
      label( for='question' )
      input#question( type='text', name='question' )

      button Submit Request

block scripts
  script( src='/javascripts/learner.js' )