extends ../layout

block content
  h3 Stats

  if user.roles.includes( 'moderator' ) || user.roles.includes( 'sep' )
    button.btn.btn-warning.reset Recalculate

  .row.statistics

  .row.coach-statistics

block scripts
  script( src='/javascripts/statistics.js' )