extends ../layout

block content
  h3 Stats

  if user.is_admin
    button.btn.btn-warning.reset Recalculate

  .row.statistics

  .row.coach-statistics

block scripts
  script( src='/javascripts/statistics.js' )