extends ../layout

block content
  .row
    .col-md-4
      h3 Active Request
      .active-requests

    .col-md-4
      h3 Requests
      .ticket-list

    .col-md-4
      h3 Assigned Teams
      .team-list

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
  script( src='/javascripts/thenBy/index.js' )
  script( src='/javascripts/coach/templates.js' )
  script( src='/frontend/prioritization/active.js' )
  script( src='/frontend/prioritization/visible.js' )
  script( src='/frontend/prioritization/prioritize.js' )
  script( src='/javascripts/coach.js' )
